@{
    ViewData["Title"] = "Eliminar producto";
}

@model Producto

<p>Esta seguro que desea eliminar "@Model.Descripcion"?</p>

<form class="row g-3" asp-controller="Productos" asp-action="EliminarConfirm">
    <input type="hidden" name="idProd" asp-for="@Model.IdProducto"> @{ /*para que mande el id, poner el name con el mismo nombre del parametro de EliminarConfirm*/}
    
    <div class="col-12">
        <button type="submit" class="btn btn-outline-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
            </svg>
            Eliminar
        </button>
    </div>
</form>